ConsoleHelloWorldService/Contract/HelloWorldService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--WSDL generated by CTrip WSDL Wizard Tool; version 2.0.3.2-->
<!--Sunday, 19-07-2015 - 09:46 AM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="http://soa.ctrip.com/framework/soa/sample/v1" xmlns:tns="http://soa.ctrip.com/activity/booking/openapi/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import0="http://soa.ctrip.com/common/types/v1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="HelloWorldService" targetNamespace="http://soa.ctrip.com/activity/booking/openapi/v1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="CTripSOACommonTypes_V1.0.0.xsd" namespace="http://soa.ctrip.com/common/types/v1" />
      <xsd:import schemaLocation="HelloWorldData_V1.0.0.xsd" namespace="http://soa.ctrip.com/framework/soa/sample/v1" />
    </xsd:schema>
  </types>
  <message name="checkHealthIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthRequest" />
  </message>
  <message name="checkHealthOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthResponse" />
  </message>
  <message name="getLatestTimeIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:GetLatestTimeRequest" />
  </message>
  <message name="getLatestTimeOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:GetLatestTimeResponse" />
  </message>
  <message name="helloIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:HelloRequest" />
  </message>
  <message name="helloOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:HelloResponse" />
  </message>
  <message name="addNumberIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:AddNumberRequest" />
  </message>
  <message name="addNumberOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:AddNumberResponse" />
  </message>
  <portType name="HelloWorldServiceInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="CheckHealth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:checkHealthIn" />
      <output message="tns:checkHealthOut" />
    </operation>
    <operation name="GetLatestTime">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:getLatestTimeIn" />
      <output message="tns:getLatestTimeOut" />
    </operation>
    <operation name="Hello">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:helloIn" />
      <output message="tns:helloOut" />
    </operation>
    <operation name="AddNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:addNumberIn" />
      <output message="tns:addNumberOut" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_HelloWorldServiceInterface" type="tns:HelloWorldServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CheckHealth">
      <soap:operation soapAction="http://soa.ctrip.com/activity/booking/openapi/v1:checkHealthIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLatestTime">
      <soap:operation soapAction="http://soa.ctrip.com/activity/booking/openapi/v1:getLatestTimeIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Hello">
      <soap:operation soapAction="http://soa.ctrip.com/activity/booking/openapi/v1:helloIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AddNumber">
      <soap:operation soapAction="http://soa.ctrip.com/activity/booking/openapi/v1:addNumberIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HelloWorldService">
    <port name="HelloWorldServicePort" binding="tns:BasicHttpBinding_HelloWorldServiceInterface">
      <soap:address location="http://localhost/HelloWorldService" />
    </port>
  </service>
</definitions>