ConsoleHelloWorldService/Contract/HelloWorldData_V1.0.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="HelloWorldData"
    targetNamespace="http://soa.ctrip.com/framework/soa/sample/v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    xmlns="http://soa.ctrip.com/framework/soa/sample/v1"
    xmlns:ns="http://soa.ctrip.com/framework/soa/sample/v1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:common="http://soa.ctrip.com/common/types/v1"
>
  <xs:import id="SOACommonTypes" schemaLocation="CTripSOACommonTypes_V1.0.0.xsd"
             namespace="http://soa.ctrip.com/common/types/v1"></xs:import>



  <xs:element name="HelloRequest" type="ns:HelloRequestType"/>
  <xs:complexType name="HelloRequestType">
    <xs:annotation>
      <xs:documentation>
        Sample helloworld request
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            If provided, service will response with Hello 'Name'.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="HelloResponse" type="ns:HelloResponseType"/>
  <xs:complexType name="HelloResponseType">
    <xs:annotation>
      <xs:documentation>
        Sample helloworld response
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResponseStatus" type="common:ResponseStatusType"/>
      <xs:element name="Result" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            HelloWorld response result
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>



  <xs:element name="GetLatestTimeRequest" type="ns:GetLatestTimeType" />
  <xs:complexType name="GetLatestTimeType">
    <xs:annotation>
      <xs:documentation>
        无参数
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <!-- No Parameters -->
    </xs:sequence>
  </xs:complexType>

  <xs:element name="GetLatestTimeResponse" type="ns:GetLatestTimeResponseType"/>
  <xs:complexType name="GetLatestTimeResponseType">
    <xs:annotation>
      <xs:documentation>
        获取服务器的最新时间
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResponseStatus" type="common:ResponseStatusType"/>
      <xs:element name="Result" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            最新时间的一般格式，如：2015-07-03 15:09:33
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>



  <xs:element name="AddNumberRequest" type="ns:AddNumberRequestType" />
  <xs:complexType name="AddNumberRequestType">
    <xs:annotation>
      <xs:documentation>
        将两个数字相加
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="num1" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            数字1
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="num2" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            数字2
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="AddNumberResponse" type="ns:AddNumberResponseType" />
  <xs:complexType name="AddNumberResponseType">
    <xs:annotation>
      <xs:documentation>
        数字相加之和
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResponseStatus" type="common:ResponseStatusType" />
      <xs:element name="Result" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            数字相加之和
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>



  <xs:element name="AddPersonAgeRequest" type="ns:AddPersonAgeRequestType" />
  <xs:complexType name="AddPersonAgeRequestType">
    <xs:annotation>
      <xs:documentation>
        增加人员的年龄
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="num1" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            数字1
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Person" type="ns:PersonModel" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            人员实体
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <xs:element name="AddPersonAgeResponse" type="ns:AddPersonAgeResponseType" />
  <xs:complexType name="AddPersonAgeResponseType">
    <xs:annotation>
      <xs:documentation>
        增加后的人员信息
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResponseStatus" type="common:ResponseStatusType" />
      <xs:element name="IsPersonOlder" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            是否老年人
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Person" type="ns:PersonModel" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            人员实体
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>





  <xs:element name="SavePersonListRequest" type="ns:SavePersonListRequestType" />
  <xs:complexType name="SavePersonListRequestType">
    <xs:annotation>
      <xs:documentation>
        批量保存人员信息
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonList" type="ns:PersonModel" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            人员信息列表
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="SavePersonListResponse" type="ns:SavePersonListResponseType" />
  <xs:complexType name="SavePersonListResponseType">
    <xs:annotation>
      <xs:documentation>
        人员的平均年龄和列表
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResponseStatus" type="common:ResponseStatusType" />
      <xs:element name="AvgAge" type="xs:decimal" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            人员的年龄平均值
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonList" type="ns:PersonModel" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            人员信息列表
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="PersonModel">
    <xs:annotation>
      <xs:documentation>
        人员信息列表
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="0" >
        <xs:annotation>
          <xs:documentation>
            姓名
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Age" type="xs:int" minOccurs="0" >
        <xs:annotation>
          <xs:documentation>
            年龄
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>




  <xs:element name="AddBalanceRechargeOrderRequest" type="AddBalanceRechargeOrderRequestType" />
  <xs:complexType name="AddBalanceRechargeOrderRequestType">
    <xs:annotation>
      <xs:documentation>

      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="vid" type="xs:int" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BalanceRechargeOrder" type="BalanceRechargeOrderModel" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Invoice" type="InvoiceModel" maxOccurs="unbounded"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="AddBalanceRechargeOrderResponse" type="AddBalanceRechargeOrderResponseType" />
  <xs:complexType name="AddBalanceRechargeOrderResponseType">
    <xs:annotation>
      <xs:documentation>

      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResponseStatus" type="common:ResponseStatusType" />
      <xs:element name="ReturnBalanceRechargeOrder" type="BalanceRechargeOrderModel" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="BalanceRechargeOrderModel">
    <xs:annotation>
      <xs:documentation>

      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BalanceRechargeID" type="xs:long" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocalOrderID" type="xs:long" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UID" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UserID" type="xs:long" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RewardBID" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountID" type="xs:long" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrderType" type="xs:byte" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrderStatus" type="xs:byte" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayType" type="xs:byte" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalCount" type="xs:int" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalFaceAmount" type="xs:decimal" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrderAmount" type="xs:decimal" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaidAmount" type="xs:decimal" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsInvoiced" type="xs:boolean" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContactName" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CredentialType" type="xs:byte" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CredentialNo" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MobileNo" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClientIP" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataChange_CreateTime" type="xs:dateTime" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataChange_LastTime" type="xs:dateTime" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvoiceModel">
    <xs:annotation>
      <xs:documentation>

      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InvoiceID" type="xs:long" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BalanceRechargeID" type="xs:long" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrderID" type="xs:long" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UserID" type="xs:long" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullName" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeliveryAddress" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvoiceHead" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvoiceContent" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="xs:decimal" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicationStatus" type="xs:byte" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsPreInvoice" type="xs:boolean" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ZipCode" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TelephoneNo" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeliveryProvince" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeliveryCity" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeliveryDistrict" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Remark" type="xs:string" minOccurs="0"  >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataChange_CreateTime" type="xs:dateTime" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DataChange_LastTime" type="xs:dateTime" minOccurs="0" nillable="true" >
        <xs:annotation>
          <xs:documentation>

          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


</xs:schema>
