ConsoleHelloWorldService/Contract/HelloWorldService_V1.0.0.wsdl

<!--WSDL generated by CTrip WSDL Wizard Tool; version 1.0.0.0-->
<!--Saturday, 12-10-2013 - 12:13 AM-->
<definitions xmlns:import0="http://soa.ctrip.com/framework/soa/sample/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import1="http://soa.ctrip.com/common/types/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="HelloWorldService" targetNamespace="http://soa.ctrip.com/framework/soa/sample/v1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A hello world like sample demonstrating the usage of CServiceStack</wsdl:documentation>
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="HelloWorldData_V1.0.0.xsd" namespace="http://soa.ctrip.com/framework/soa/sample/v1" />
      <xsd:import schemaLocation="CTripSOACommonTypes_V1.0.0.xsd" namespace="http://soa.ctrip.com/common/types/v1" />
    </xsd:schema>
  </types>
  <message name="helloIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:HelloRequest" />
  </message>
  <message name="helloOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:HelloResponse" />
  </message>
  <message name="checkHealthIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:CheckHealthRequest" />
  </message>
  <message name="checkHealthOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:CheckHealthResponse" />
  </message>
  <portType name="HelloWorldServiceInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A hello world like sample demonstrating the usage of CServiceStack</wsdl:documentation>
    <operation name="Hello">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="import0:helloIn" />
      <output message="import0:helloOut" />
    </operation>
    <operation name="CheckHealth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="import0:checkHealthIn" />
      <output message="import0:checkHealthOut" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_HelloWorldServiceInterface" type="import0:HelloWorldServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Hello">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/sample/v1:helloIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckHealth">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/sample/v1:checkHealthIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HelloWorldService">
    <port name="HelloWorldServicePort" binding="import0:BasicHttpBinding_HelloWorldServiceInterface">
      <soap:address location="http://localhost/HelloWorldService" />
    </port>
  </service>
</definitions>